# Virtual Environment
venv/
env/
ENV/
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Model files (uncomment if you don't want to track these)
models/*.h5
models/*.pkl
models/*.png

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
data/bhc_mimic_iv/
